body {
  margin: 0 px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16 px;
}
body.no-scroll {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*Blocks*/
.conteiner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  padding: 1.2rem 0;
}
.user {
  display: flex;
}
.user_avatar {
  width: 57px;
  height: 57px;
}
.user_avatar img {
  border-radius: 50%;
  width: 57px;
  height: 57px;
}
.user_name {
  font-weight: 700;
  margin-bottom: 3px;
  font-family: "Cactus Classical Serif", serif;
  font-style: normal;
}
.user_content {
  padding-left: 10px;
}
.user_prof {
  color: rgba(0, 0, 0, 0.65);
  font-family: "Cactus Classical Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.nav {
  align-items: center;
  font-family: "Cactus Classical Serif", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  height: 100%;
}
.nav_link {
  margin-left: 2rem;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
.nav_link:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #000000;
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 1;
  transition: width 0.2s linear;
}
.nav_link:hover:not(.nav_link--btn):after {
  width: 100%;
}
.nav_link--btn {
  padding: 10px 30px;
  border: 2px solid #000000;
  border-radius: 20px;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.nav_link--btn:hover {
  background-color: black;
  color: white;
}
.intro {
  background-color: #C0CFD5;
  color: white;
}
.intro_inner {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  position: relative;
  border-bottom: 1px solid #C0CFD5;
  border-top: 1px solid #C0CFD5;
}
.intro_content {
  width: 50%;
  text-align: center;
}
.intro_photo {
  position: absolute;
  right: -160px;
  bottom: 10px;
  z-index: 1;
}
.intro_title {
  text-align: center;
  height: 80px;
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
}
.intro_subtitle {
  margin-bottom: 30px;
  font-size: 30px;
  font-family: "Cactus Classical Serif", serif;
  font-weight: 600;
  font-style: normal;
}
.intro_text {
  margin-top: 50px;
  font-size: 20px;
  font-family: "Cactus Classical Serif", serif;
  font-weight: 600;
  font-style: normal;
  color: rgba(255, 255, 255, 0.9);
}
.social {
  padding-top: 20px;
}
.social_link_img {
  width: 50px;
  margin-left: 5px;
  height: 50px;
  transition: transform 0.2s linear;
}
.social_link_img:hover {
  transform: translateY(-5px);
}
.social_link {
  text-decoration: none;
}
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 15px 27px;
  min-width: 170px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Cactus Classical Serif", serif;
  font-weight: 600;
  font-style: normal;
  border: 1px solid white;
  border-radius: 30px;
  background-color: #C0CFD5;
  line-height: 1.1;
  transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background-color: white;
  color: #C0CFD5;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.24);
}
.works {
  padding: 40px 0;
}
.works_nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.works_nav_link {
  margin: 0 1.5rem;
  font-size: 16px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Cactus Classical Serif", serif;
  font-weight: 600;
  font-style: normal;
}
.works_nav_link:hover {
  text-decoration: underline;
}
.porfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0.5rem;
  margin-bottom: 2.8rem;
}
.portfolio_col {
  flex-basis: 33.333%;
  padding: 1rem;
}
.pi_image {
  display: block;
  max-width: 100%;
  height: auto;
}
.portfolio_item {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s linear;
}
.portfolio_item:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
.portfolio_item_content {
  padding: 0.8rem;
}
.pic_category {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);
  margin-bottom: 5px;
  text-transform: uppercase;
  font-family: "Cactus Classical Serif", serif;
  font-weight: 600;
  font-style: normal;
}
.pic_title {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: black;
  text-transform: uppercase;
  font-family: "Cactus Classical Serif", serif;
  font-weight: 600;
  font-style: normal;
}
.about {
  margin: 1rem;
  padding-bottom: 60px;
}
.about_inner {
  display: flex;
}
.about_photo {
  width: 50%;
}
.about_content {
  width: 50%;
}
.abot_b {
  padding-left: 15px;
  align-items: center;
}
.about_title {
  position: relative;
  left: 10px;
  font-size: 50px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Cactus Classical Serif", serif;
  font-weight: 1000;
  font-style: normal;
  margin-bottom: 25px;
}
.about_title1 {
  line-height: 1.1;
  color: rgba(0, 0, 0, 0.65);
  height: 80px;
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
}
.about_photo {
  padding-left: 20px;
}
.about_text {
  line-height: 1.5;
  padding: 0 1rem;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*
.text_rignt
{
   text-align: right;
}
.text_left
{

    text-align: left;
}
*/
.text_center {
  text-align: center;
}
.mb0_zero {
  margin-bottom: 0;
}
.hide {
  display: none;
}
.rewies {
  background-color: #C0CFD5;
  position: relative;
}
.rewies_item {
  padding-top: 20px;
  padding-bottom: 50px;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}
.rewies_text {
  font-size: 18px;
  line-height: 2;
  text-align: center;
  padding-bottom: 20px;
}
.rewies_author {
  width: 100%;
  margin-top: -51px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  text-align: center;
}
.rewies_photo {
  height: 103px;
  border: white 4px solid;
  width: 103px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.rewies_name {
  padding-bottom: 5px;
  font-size: 18px;
  color: black;
  text-transform: uppercase;
  font-family: "Cactus Classical Serif", serif;
  font-weight: 600;
  font-style: normal;
}
.rewies_company {
  padding-bottom: 5px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
  text-transform: uppercase;
  font-family: "Cactus Classical Serif", serif;
  font-weight: 600;
  font-style: normal;
}
.rewies_t {
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  font-family: "Cactus Classical Serif", serif;
  font-weight: 600;
  font-style: normal;
}
.price {
  margin-top: 12rem;
  margin-bottom: 5rem;
}
.price_header {
  text-align: center;
  margin-bottom: 5rem;
}
.price_title {
  padding-bottom: 10px;
  font-size: 40px;
  color: #C0CFD5;
  text-transform: uppercase;
  font-family: "Cactus Classical Serif", serif;
  font-weight: 600;
  font-style: normal;
}
.price_text {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.65);
  text-transform: uppercase;
  font-family: "Cactus Classical Serif", serif;
  font-weight: 600;
  font-style: normal;
}
.arcticles {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}
.arcticles_col {
  width: 33.3333%;
  padding: 0 1rem;
}
.arcticles_header {
  position: relative;
  margin-bottom: 20px;
  text-decoration: none;
}
.arcticles_texth {
  display: flex;
  line-height: 1.4;
  align-items: center;
  justify-content: center;
  width: 77px;
  height: 77px;
  background-color: rgba(0, 0, 0, 0.65);
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  color: white;
}
.arcticles_item {
  margin-bottom: 2rem;
}
.arcticles_title {
  padding-bottom: 5px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  font-size: 16px;
  color: black;
  text-transform: uppercase;
  font-family: "Cactus Classical Serif", serif;
  font-weight: 600;
  font-style: normal;
}
.arcticles_category {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);
  margin-bottom: 5px;
  text-transform: uppercase;
  font-family: "Cactus Classical Serif", serif;
  font-weight: 600;
  font-style: normal;
}
.footer {
  background-color: #C0CFD5;
  padding: 25px 0;
}
.footer_inner {
  display: flex;
  justify-content: space-between;
}
.footer_cooperate {
  font-size: 15px;
  color: white;
  font-family: "Cactus Classical Serif", serif;
  font-weight: 600;
  font-style: normal;
}
.footer_nav_link {
  font-size: 15px;
  margin-left: 2rem;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  text-decoration: none;
}
.footer_nav_link:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 1;
  transition: width 0.2s linear;
}
.footer_nav_link:hover:not(.nav_link--btn):after {
  width: 100%;
}
.footer_nav_link--btn {
  padding: 10px 30px;
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.footer_nav_link--btn:hover {
  background-color: white;
  color: #C0CFD5;
}
.modals {
  display: none;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  z-index: 1000;
}
.modals.show {
  display: flex;
}
.modals_dialog {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  position: relative;
  overflow: auto;
  background-color: white;
}
.modals_dialog--sm {
  max-width: 900px;
}
.modal_work_prewiew {
  width: 65%;
  position: relative;
  overflow: hidden;
}
.modal_work_content {
  position: relative;
  width: 35%;
  padding: 3.4rem 6.6rem 1.2rem 1.7rem;
}
.modals_work {
  position: relative;
  display: flex;
}
.modal_img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
}
.modal_worh_title {
  font-size: 32px;
  text-transform: uppercase;
}
.modal_work_info {
  font-size: 20px;
  text-transform: uppercase;
}
.modal_work_header {
  margin-bottom: 30px;
}
.modals_client {
  font-weight: bold;
}
.modal_work_text {
  margin-bottom: 5rem;
}
.modal_close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  width: 50px;
  height: 50px;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  transition: transform 0.2s linear;
}
.modal_close:hover {
  transform: rotate(65deg);
}
.modal_work_footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 0 27px 1rem;
}
.modal_work_btn {
  min-width: 170px;
  padding: 20px 27px;
  cursor: pointer;
  background: none;
  border: 3px solid #C0CFD5;
  border-radius: 30px;
  padding: 0;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
}
.modal_work_btn:hover {
  background-color: #C0CFD5;
  color: white;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.24);
}
.modal_resume_content {
  padding: 5rem 1rem;
}
.modal_title_resume {
  margin-bottom: 3rem;
  font-size: 70px;
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}
.timeline_item {
  margin-bottom: 3rem;
}
.timeline_item:last-child {
  margin-bottom: 0;
}
.progress_left {
  padding-right: 1rem;
}
.progres_item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.progress_bar {
  width: 139px;
  height: 6px;
  border-radius: 20px;
  border: 2px solid #C0CFD5;
  background-color: white;
}
.progress_pro {
  height: 100%;
  background-color: #C0CFD5;
  transition: width 0.2s linear;
}
.timeline {
  margin: 4.2rem auto;
  display: flex;
  width: 100%;
  max-width: 770px;
  position: relative;
}
.timeline:before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #C0CFD5;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
}
.timeline_col {
  width: 50%;
}
.timeline_col--left {
  text-align: right;
  padding-right: 3rem;
}
.timeline_col--right {
  text-align: left;
  padding-left: 3rem;
}
.timeline_title {
  margin-bottom: 2.6rem;
  font-size: 25px;
  color: #C0CFD5;
  text-transform: uppercase;
  font-family: "Cactus Classical Serif", serif;
  font-weight: 600;
  font-style: normal;
}
.timeline_date {
  display: block;
  text-decoration: underline;
  margin-bottom: 10px;
  font-size: 17px;
  text-transform: uppercase;
  font-family: "Cactus Classical Serif", serif;
  font-weight: 600;
  font-style: normal;
}
.timeline_subtitle {
  font-size: 20px;
}
.contact {
  display: flex;
}
.contact_left {
  width: 47%;
  padding: 2rem;
}
.contact_right {
  width: 53%;
  background-color: #C0CFD5;
}
.contact_title {
  font-size: 70px;
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}
.modal_subtitle {
  font-size: 20px;
  font-weight: bold;
}
.contact_info {
  margin: 2rem 0 3rem;
  padding-left: 1rem;
}
.contact_info_i {
  margin-bottom: 0.5rem;
}
.contact_info_i:last-child {
  margin-bottom: 0;
}
.label {
  display: inline-block;
  margin-bottom: 0.6rem;
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
}
.input,
textarea {
  display: block;
  width: 100%;
  border: 2px solid #000000;
  border-radius: 20px;
  padding: 1.2rem 1.8rem;
  transition: border 0.2s linear;
  font-family: inherit;
}
.input:focus,
textarea:focus {
  outline: 0;
  border: 2px solid #C0CFD5;
}
.textarea {
  height: 200px;
  resize: none;
}
.form_group {
  margin-bottom: 2rem;
  resize: none;
}
